<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {#<meta property="og:url"#}
          {#content="{{ path(app.request.attributes.get('_route'),#}
          {#app.request.attributes.get('_route_params')) }}"/>#}
    {#<meta property="og:title" content="{% block title %}{% endblock %}"/>#}
    {#<meta property="og:description" content="{% block description %}{% endblock %}"/>#}
    {#<meta property="og:image"#}
          {#content="{% block imageShare %}{% endblock %}"/>#}

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block pageContent %}
{% endblock %}
{% block footer %}
    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="content">
                    <img src="https://i.imgur.com/9KQhhrK.png" alt="Smiley face">
                    <p>© 2017 <b>Fulgrim</b> tout droit réservé</p>
                </div>
            </div>
        </div>
    </div>
    </div><! --/footerwrap -->
{% endblock %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/video.js') }}"></script>
{% endblock %}
</body>
</html>
